<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Cropper</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex flex-col justify-center items-center">
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-3 w-full lg:justify-center" >
        <div class="flex items-center flex-shrink-0 text-white lg:mr-6">
            <span class="font-semibold text-lg tracking-tight text-left lg:text-center">NaufalF</span>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-curreznt h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v15z"/></svg>
            </button>
        </div>

    </nav>
    <form class="flex flex-row mt-10 bg-teal-400 p-5 rounded-md items-center max-w-2xl min-w-84" hx-encoding='multipart/form-data' hx-post='/upload'>
        <input type='file' name='file'>
        <button class="border outline-4 rounded tracking-tight font-semibold text-white p-2 hover:border-white">
            Upload
        </button>

    </form>

    {{ block "film-list-element" .}}
    {{ if .State }}
    <div class="flex flex-row justify-center items-center">
        <div class = "justify-center items-center">
            <img src = "{{.File}}" alt="gambar" width="500" height="600" class="rounded-md">
        </div>
        <form hx-post='/cropper' method="post" class="flex flex-col m-3 gap-5" hx-encoding='multipart/form-data'>
            <a>Image size is {{.Width}} and {{.Height}}</a>
            <div class="flex flex-row gap-2 justify-center items-center">
                <label for="input1">X1:</label>
                <input type="number" id="input1" name="x1"><br>
            </div>
            <div class="flex flex-row gap-2 justify-center items-center">
                <label for="input2">X2:</label>
                <input type="number" id="input2" name="x2"><br>
            </div>
            <div class="flex flex-row gap-2 justify-center items-center">
                <label for="input3">Y1:</label>
                <input type="number" id="input3" name="y1"><br>
            </div>
            <div class="flex flex-row gap-2 justify-center items-center">
                <label for="input4">Y2:</label>
                <input type="number" id="input4" name="y2"><br>
            </div>
            <div class="flex flex-row gap-2 justify-center items-center">
                <label for="input4">Make it grayscale?</label>
                <input type="checkbox" id="input5" name="grayscale"><br>
            </div>
            <input type="submit" value="Submit" class="border outline-4 rounded tracking-tight font-semibold text-white p-2 hover:border-white">
        </form>
    </div>
    {{ end }}
    {{ end }}



</div>
</body>